<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商家审核</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>


    <!--引入需要的js-->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->
    <!-- 引入自定义模块js -->
    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <!-- 引入自定义service的js -->
    <script type="text/javascript" src="../js/service/DeviceService.js"></script>
    <!-- 引入自定义controller的js -->
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/ErrorController.js"></script>
    <script type="text/javascript" src="../js/controller/DeviceController.js"></script>

    <!--引入select2-->
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/plugins/angular-select2.js"> </script>

</head>

<body class="hold-transition skin-red sidebar-mini"   ng-app="jfiot" ng-controller="deviceController" ng-init="initSDDC()" >
  <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">设备信息</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">
                            <!--工具栏-->
                            <div class="pull-left" >
                                <div class="form-group form-inline">
                                    <div class="btn-group disabled"  >
                                        <button type="button"  ng-show="authoCode==3" ng-click="deivceEntity={}" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal"  ><i class="fa fa-file-o"></i> 新建</button>
                         
                                        <button type="button"  class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                                <div class="input-group" style="width:1000px;" >

                            <div style="width: 135px;margin-left: 15px ">
                                <select select2 ng-model="searchEntity.typeid" ng-change="reloadList()" class="form-control" placeholder="设备分类">
                                    <option value="{{ item.id }}" ng-repeat="item in deviceTypes">{{ item.text }}</option>
                                </select>
                               </div>
                                <div style="width: 200px;margin-left: 160px "  class="input-group">
                                    <span class="input-group-addon">设备名称</span>
                                    <input type="text" class="form-control" ng-model="searchEntity.name" ng-change="reloadList()" aria-label="Amount (to the nearest dollar)">
                                </div>
                                <div style="margin-left: 370px;margin-top: -35px"  class="input-group"><button class="btn btn-default" ng-click="reloadList()" >查询</button></div>
                            </div>
                            <!--工具栏/-->
                            <div class="jumbotron" ng-if="errorEntityt.code==001 ">
                                <h1>{{errorEntityt.message}}</h1>
                                <p ng-bind-html="errorEntityt.text | trustHtml"></p>
                            </div>
			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable" ng-if="list != null && errorEntityt.code==000">
			                      <thead>
			                          <tr>
										  <th class="sorting_asc">设备名称</th>
									      <th class="sorting">设备分类</th>
									      <th class="sorting" ng-show="authoCode==3" >设备详情</th>
									      <th class="sorting">是否激活</th>
                                          <th class="sorting">设备状态</th>
                                          <th class="sorting">是否开启</th>
					                      <th class="text-center" width="20%" ng-show="authoCode==3" >操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
				                          <td>{{entity.name}}</td>
									      <td>{{findDeviceTypeText(entity.typeid)}}</td>
		                                 <td ng-show="authoCode==3" width="10%">
                                             <button type="button" class="btn bg-olive btn-info " data-toggle="modal" data-target="#KeyModal" ng-click="findKey(entity)" ng-if="authoCode==3" >查看密钥和Key</button>
                                         </td>
		                                 <td><button type="button" class="btn {{entity.saleactivate==1 ? 'btn-success':'btn-danger'}}" ng-click="Saleactivate(entity.saleactivate,entity.id)"  role="alert">{{isSaleactivate(entity.saleactivate)}}</button></td>
		                                 <td>{{findText(lifecycleWarnList,entity.lifecyclewarn)}}</td>
                                          <td>
                                              <button type="button" class="btn {{entity.isenable==1 ? 'btn-success':'btn-danger'}}" ng-click="isEnable(entity.id)"  role="alert">{{findText(isenableList,entity.isenable)}}</button>
                                          </td>
		                                  <td class="text-center">
                                            <button type="button" class="btn bg-info btn-primary" data-toggle="modal" data-target="#userModal" ng-click="findBindUser(entity.id)" ng-if="authoCode==3 && entity.isBind" >设备绑定的用户</button>
		                                  	<button type="button" class="btn bg-olive btn-primary" data-toggle="modal" data-target="#editModal" ng-click="findOne(entity.id)" ng-if="authoCode==3" >修改</button>
                                            <button type="button" class="btn btn-danger btn-primary"  data-toggle="modal"  ng-show="authoCode==3" ng-click="delete(entity.id)" >删除</button>
		                                  </td>
			                          </tr>
									  
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
                            <!--分页控件-->
                            <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->
                     </div>
                    <!-- /.box-body -->
                    
	          
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">{{deivceEntity.status == 1 ? '修改':'新增'}}设备</h3>
		</div>
		<div class="modal-body">							

			<table class="table table-bordered table-striped"  width="800px">

		      	<tr>
		      		<td>设备分类</td>
		      		<td>
                        <select select2 ng-model="deivceEntity.typeid" class="form-control" placeholder="选择分类">
                            <option value="{{ item.id }}" ng-repeat="item in deviceTypes">{{ item.text }}</option>
                        </select>
                    </td>
		      	</tr>
                <tr>
                    <td>设备名称</td>
                    <td><input  class="form-control" placeholder="设备ID" ng-model="deivceEntity.id">  </td>
                </tr>
		       	 <tr>
		      		<td>设备名称</td>
		      		<td><input  class="form-control" placeholder="设备名称" ng-model="deivceEntity.name">  </td>
		      	</tr>
              <!--  <tr>
                    <td>订阅地址</td>
                    <td><input  class="form-control" placeholder="订阅地址" ng-model="deivceEntity.subscriber">  </td>
                </tr>-->
          <!--      <tr>
                    <td>发布地址</td>
                    <td><input  class="form-control" placeholder="发布地址" ng-model="deivceEntity.issue">  </td>
                </tr>-->

            </table>
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="validStation()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
					    
                                
<!-- 绑定的用户的详情 -->

                </div>
        <!--设备所绑定的用户详情-->
  <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" >设备所绑定的用户详情</h4>
              </div>
              <div class="modal-body">
                  <table  class="table table-bordered table-striped table-hover dataTable" >
                      <thead>
                      <tr>
                          <th class="sorting_asc">用户id</th>
                          <th class="sorting">用户名称</th>
                          <th class="sorting">用户账号</th>
                          <th class="sorting">用户权限</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="entity in bindUserEntity">
                          <td>{{entity.id}} </td>
                          <td>{{entity.name}} </td>
                          <td>{{entity.account}}</td>
                          <td>{{entity.autho}}</td>
                      </tr>

                      </tbody>
                  </table>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  <!-- 密钥key显示窗口 -->
  <div class="modal fade" id="KeyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" >
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h3 id="myModalLabel">高级参数</h3>
              </div>
              <div class="modal-body">
                  <table class="table table-bordered table-striped table-hover dataTable">
                      <thead>
                      <tr>
                          <th class="sorting" width="20%">名称</th>
                          <th class="sorting">数值</th>
                      </thead>
                      <tbody>
                      <tr>

                          <td  width="20%">
                             设备绑定名
                          </td>
                          <td>
                              <input readonly class="form-control" placeholder="" ng-model="keyEntity.devicename">
                          </td>
                      </tr>
                      <tr>

                          <td  width="20%">
                             设备绑定密钥
                          </td>
                          <td>
                              <input readonly class="form-control" placeholder="" ng-model="keyEntity.devicesecret">
                          </td>
                      </tr>
                      <tr>
                          <td  width="20%">
                             出库KEY
                          </td>
                          <td>
                              <input readonly class="form-control" placeholder="" ng-model="keyEntity.productkey">
                          </td>
                      </tr>
                      <tr>
                          <td  width="20%">
                              分类KEY
                          </td>
                          <td>
                              <input readonly class="form-control" placeholder="" ng-model="keyEntity.typekey">
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
              </div>
          </div>
      </div>
  </div>
</body>
</html>