<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商家审核</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>


    <!--引入需要的js-->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->
    <!-- 引入自定义模块js -->
    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <!-- 引入自定义service的js -->
    <script type="text/javascript" src="../js/service/ConfDeviceService.js"></script>
    <!-- 引入自定义controller的js -->
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/ConfDeviceController.js"></script>

    <!--引入select2-->
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/plugins/angular-select2.js"> </script>
</head>

<body class="hold-transition skin-red sidebar-mini"   ng-app="jfiot" ng-controller="deviceController" ng-init="initSDDC()" >
  <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">站点管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group disabled"  >
                                        <button type="button" ng-if="authoCode==3" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                         
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                                <div class="input-group" style="width:1000px;" >
                               
                                <div style="width: 135px;margin-left: 15px ">
                                <select select2 ng-model="searchEntity.typeid" ng-change="reloadList()" class="form-control" placeholder="设备">
                                    <option value="{{ item.id }}" ng-repeat="item in deviceTypes">{{ item.text }}</option>
                                </select>
                               </div>
                                <div style="width: 200px;margin-left: 160px "  class="input-group">
                                    <span class="input-group-addon">事件名称</span>
                                    <input type="text" class="form-control" ng-model="searchEntity.devicename" ng-change="reloadList()" aria-label="Amount (to the nearest dollar)">
                                </div>
                                <div style="margin-left: 370px;margin-top: -35px"  class="input-group"><button class="btn btn-default" ng-click="reloadList()" >查询</button></div>
                            </div>
                            <!--工具栏/-->
                            <div ng-if="list ==null "> 没有找到任何设备........</div>

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable" ng-if="list != null">
			                      <thead>
			                          <tr>
			                             
										  <th class="sorting_asc">设备名称</th>
									      <th class="sorting">设备分类</th>
									      <th class="sorting">查看参数</th>
									      <th class="sorting">设备详情</th>
									      <th class="sorting">是否激活</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
				                          <td>{{entity.devicename}}</td>
									      <td>{{findDeviceTypeText(entity.typeid)}}</td>
		                                 <td>设备参数：{{entity.paramid}}</td>
		                                 <td>查看密钥和出入库Key</td>
		                                 <td>{{entity.saleactivate}}<div class="alert {{isSaleactivate(entity.saleactivate)==1? 'alert-success':'alert-warning'}}" role="alert">...</div></td>
		                                  <td class="text-center">  
		                                  	<button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" >修改</button>       
		                                    <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#sellerModal" >IOT信息</button>  
		                                 	<button type="button" class="btn btn-danger btn-xs"  data-toggle="modal" data-target="#delete" >删除</button>   
		                                 	
		                                  </td>
			                          </tr>
									  
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        

                            <!--分页控件-->
                            <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                        <!-- 数据表格 /-->



                        
                     </div>
                    <!-- /.box-body -->
                    
	          
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">站点新增</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>站点ID</td>
		      		<td><input  class="form-control" placeholder="站点ID">  </td>
		      	</tr>
		      	<tr>
		      		<td>网关产地信息</td>
		      		<td><input  class="form-control" placeholder="网关产地信息">  </td>
		      	</tr>	
			    <tr>
		      		<td>省份</td>
		      		<td><input  class="form-control" placeholder="省份">  </td>
		      	</tr>		      
		       	 <tr>
		      		<td>城市</td>
		      		<td><input  class="form-control" placeholder="城市">  </td>
		      	</tr>		      
		       	
		       	 <tr>
		      		<td>详细地址</td>
		      		<td><input  class="form-control" placeholder="详细地址">  </td>
		      	</tr>		      
		       	
		       	 <tr>
		      		<td>Iot设备Id</td>
		      		<td><input  class="form-control" placeholder="Iot设备Id">  </td>
		      	</tr>		      
		       	 <tr>
		      		<td>设备识别码</td>
		      		<td><input  class="form-control" placeholder="设备识别码">  </td>
		      	</tr>		      
		       	 <tr>
		      		<td>预置密钥</td>
		      		<td><input  class="form-control" placeholder="预置密钥">  </td>
		      	</tr>		      
		       	 <tr>
		      		<td>Iot产品信息编号</td>
		      		<td><input  class="form-control" placeholder="Iot产品信息编号">  </td>
		      	</tr>
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
					    
                                
<!-- 商家详情 -->
<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

		</div>
		<div class="modal-body">							
			
			 <ul class="nav nav-tabs">
			  <li class="active"><a href="#home" data-toggle="tab">IOT设备产品模型信息</a></li>
			<!--  <li><a href="#linkman" data-toggle="tab">联系人</a></li>
			  <li><a href="#certificate" data-toggle="tab">证件</a></li>
			  <li><a href="#ceo" data-toggle="tab">法定代表人</a></li>
			  <li><a href="#bank" data-toggle="tab">开户行</a></li>-->
			</ul>							
			
			<!-- 选项卡开始 -->         
		    <div id="myTabContent" class="tab-content">
			    <div class="tab-pane active in" id="home">
			      <br>
			      <table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>ID</td>
			      		<td>{{IotEntity.id}}</td>
			      	</tr>
			      	<tr>
			      		<td>厂商Id</td>
			      		<td>{{IotEntity.firmid}}</td>
			      	</tr>
			      	<tr>
			      		<td>厂商名称</td>
			      		<td>{{IotEntity.firmname}}</td>
			      	</tr>
			      	<tr>
			      		<td>产品名称</td>
			      		<td>{{IotEntity.productname}}</td>
			      	</tr>
			      		<tr>
			      		<td>产品Id</td>
			      		<td>{{IotEntity.productid}}</td>
			      	</tr>
			      		<tr>
			      		<td>产品协议类型</td>
			      		<td>{{IotEntity.protocol}}</td>
			      	</tr>
			      		<tr>
			      		<td>产品类型</td>
			      		<td>{{IotEntity.type}}</td>
			      	</tr>
			      		<tr>
			      		<td>型号</td>
			      		<td>{{IotEntity.typeno}}</td>
			      	</tr>
			      </table>			      
      			</div>	
			    <!--<div class="tab-pane fade" id="linkman">
			    	<br>
					<table class="table table-bordered table-striped" >
			      	<tr>
			      		<td>联系人姓名</td>
			      		<td>王美琪</td>
			      	</tr>
			      	<tr>
			      		<td>联系人QQ</td>
			      		<td>78223322</td>
			      	</tr>
			      	<tr>
			      		<td>联系人手机</td>
			      		<td>13500223322</td>
			      	</tr>
			      	<tr>
			      		<td>联系人E-Mail</td>
			      		<td>78223322@qq.com</td>
			      	</tr>
			      </table>
			    </div>
			    <div class="tab-pane fade" id="certificate">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>营业执照号</td>
				      		<td>330106000109206</td>
				      	</tr>
				      	<tr>
				      		<td>税务登记证号</td>
				      		<td>0292039393011</td>
				      	</tr>
				      	<tr>
				      		<td>组织机构代码证号</td>
				      		<td>22320320302421</td>
				      	</tr>				      	
			     	</table>
			    </div>
			    <div class="tab-pane fade" id="ceo">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>法定代表人</td>
				      		<td>王小聪</td>
				      	</tr>
				      	<tr>
				      		<td>法定代表人身份证号</td>
				      		<td>211030198503223122</td>
				      	</tr>					   			      	
			     	</table>
			    </div>
			    <div class="tab-pane fade" id="bank">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>开户行名称</td>
				      		<td>中国建设银行北京市分行</td>
				      	</tr>
				      	<tr>
				      		<td>开户行支行</td>
				      		<td>海淀支行</td>
				      	</tr>		
				      	<tr>
				      		<td>银行账号</td>
				      		<td>999000111222</td>
				      	</tr>			   			      	
			     	</table>					
			    </div>-->
  			    </div> 			
           <!-- 选项卡结束 -->          
			
			
		</div>
		<div class="modal-footer">						
		<!--	<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">审核通过</button>
         	<button class="btn btn-danger"  data-dismiss="modal" aria-hidden="true">审核未通过</button>
            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">关闭商家</button>-->
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>


</body>

</html>