<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>分类管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--引入需要的js-->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
    <script src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <!-- 分页组件结束 -->
    <!-- 引入自定义模块js -->
    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <!-- 引入自定义service的js -->
    <script type="text/javascript" src="../js/service/DeviceTypeService.js"></script>
    <!-- 引入自定义controller的js -->
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/ErrorController.js"></script>
    <script type="text/javascript" src="../js/controller/DeviceTypeController.js"></script>

    <!--引入select2-->
    <link rel="stylesheet" href="../plugins/select2/select2.css" />
    <link rel="stylesheet" href="../plugins/select2/select2-bootstrap.css" />
    <script src="../plugins/select2/select2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/plugins/angular-select2.js"> </script>
</head>

<body class="hold-transition skin-red sidebar-mini"  ng-app="jfiot" ng-controller="deviceTypeController" >
<!-- .box-body -->
<div class="box-header with-border">
    <h3 class="box-title">分类管理</h3>
</div>
<div class="box-body">
    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="entity={}" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                </div>
            </div>
        </div>
        <div class="box-tools pull-left" style="margin-left: 20px;">
            <div class="has-feedback">
                分类名称：  <input type="text"  ng-model="searchEntity.typename" ng-change="reloadList()" >
                <button class="btn btn-default" >查询</button>
            </div>
        </div>
        <!--工具栏/-->
        <div class="jumbotron" ng-if="errorEntityt.code==001 ">
            <h1>{{errorEntityt.message}}</h1>
            <p ng-bind-html="errorEntityt.text | trustHtml"></p>
        </div>

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable" ng-if="list != null && errorEntityt.code!=001">
            <thead>
            <tr>
                <th class="sorting_asc">分类名称</th>
                <th class="sorting">分类KEY</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in list">
                <td>{{entity.typename}}</td>
                <td>{{entity.typekey}}</td>
                <td class="text-center">
                    <button type="button" class="btn bg-info btn-xs" data-toggle="modal" data-target="#ParamModal" ng-click="findDeviceParamsByid(entity.id)">设备分类参数管理</button>
                    <button type="button" class="btn bg-olive btn-xs" ng-click="findOne(entity.id)" data-toggle="modal" data-target="#editModal">修改</button>
                    <button type="button" class="btn btn-danger btn-xs"  data-toggle="modal" ng-click="delete(entity.id)" >删除</button>
                </td>
            </tr>

            </tbody>
        </table>
        <!--数据列表/-->
        <!--分页控件-->
        <tm-pagination conf="paginationConf"></tm-pagination>
    </div>
    <!-- 数据表格 /-->
</div>
<!-- /.box-body -->


<!-- 分类编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">{{entity.status == 1 ? '修改':'新增'}}分类</h3>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped"  width="800px">
                <tr>
                    <td>分类名称</td>
                    <td><input  class="form-control" placeholder="分类名称" ng-model="entity.typename">  </td>
                </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success"  aria-hidden="true" ng-click="validStation()" >保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 参数展示窗口 -->
<div class="modal fade" id="ParamModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog"  style="margin-top: -150px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">  </h3>
            </div>
            <div class="modal-body">
                <!--异常提示-->
                <div class="jumbotron" ng-if="errorEntityt.code==6004 ">
                    <h2>{{errorEntityt.message}}</h2>
                    <p ng-bind-html="errorEntityt.text | trustHtml"></p>
                </div>
                <!--正常显示-->
                <table class="table table-bordered table-striped table-hover dataTable text-center" ng-show="paramList != null && errorEntityt.code==000">
                    <thead>
                    <th class="sorting ">参数名称</th>
                    <th class="sorting">类型</th>
                    <th class="sorting">值类型</th>
                    <th class="sorting">最大值</th>
                    <th class="sorting">最小值</th>
                    <th class="sorting">单位</th>
                    <th class="sorting">报警值</th>
                    <th class="sorting">状态</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entity in paramList" >
                        <td>
                            {{entity.name}}
                        </td>
                        <td>
                            {{findText(typeList,entity.type)}}
                        </td>
                        <td>
                            {{findText(valueTypeList,entity.valueType)}}
                        </td>
                        <td>
                            {{entity.max}}
                        </td>
                        <td>
                            {{entity.min}}
                        </td>
                        <td>
                            {{entity.unit}}
                        </td>
                        <td>
                            {{entity.warnValue}}
                        </td>
                        <td>
                            {{findText(statusList,entity.state)}}
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>


</body>

</html>